name: Docker Image CI
on:
  push:
    branches:
      - master
    paths:
      - release-versions/latest.txt
      - Dockerfile
      - entrypoint.sh
jobs:
  docker_images:
    runs-on: ubuntu-latest
    name: Build and push image
    strategy:
      fail-fast: true
      matrix:
        cuda_version:
          - "11.3.1"
          - "11.3.0"
          - "11.2.1"
          - "11.2.0"
          - "11.1"
          - "11.0"
          - "10.2"
    steps:
      - name: Check out repo
        uses: actions/checkout@v2.3.4

      - name: Login to dockerhub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Read VERSION file
        id: getversion
        run: echo "::set-output name=version::$(cat release-versions/latest.txt)"

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2.7.0
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/miner-trex-cuda:v${{ steps.getversion.outputs.version }}-cuda-${{ matrix.cuda_version }}, ${{ secrets.DOCKERHUB_USERNAME }}/miner-trex-cuda:latest-cuda-${{ matrix.cuda_version }}
          build-args: |
            TREX_VERSION=${{ steps.getversion.outputs.version }}
            NVIDIA_CUDA_VERSION=${{ matrix.cuda_version }}

      - name: Get image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  docker_description:
    runs-on: ubuntu-latest
    name: Update dockerhub description
    needs: docker_images
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2.3.4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2.4.3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/miner-trex-cuda
