name: Get latest release
on:
  schedule:
    - cron: '0 10 * * *'
jobs:
  get_version:
    runs-on: ubuntu-latest
    name: Get latest T-Rex version
    steps:
      - name: Check out repo
        uses: actions/checkout@v2.4.0

      - name: Fetch release version
        run: |
          curl -sL https://api.github.com/repos/trexminer/t-rex/releases/latest | \
          jq -r ".tag_name" > release-versions/latest.txt

      - name: Check for modified files
        id: git-check
        run: echo ::set-output name=modified::$([ -z "`git status --porcelain`" ] && echo "false" || echo "true")

      - name: Commit latest release version
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'T-Rex New Release'
          git config --global user.email 't-rex-release@users.noreply.github.com'
          git commit -am "New release version"

      - name: Create Pull Request
        if: steps.git-check.outputs.modified == 'true'
        uses: peter-evans/create-pull-request@v3.11.0
        with:
          commit-message: "New trex version, pr for bumping version"
          branch: trex-version-bump
          delete-branch: true
          labels: enhancement
          title: New T-Rex version
